# Generated manually (roxygen2 unavailable in this offline environment).
# Regenerate with devtools::document() once roxygen2 can be installed.

export(classificar_bioma)
export(classify_biome)
export(bioma_from_shapefile)
export(biome_from_shapefile)

export(biomassa_bioma)
export(biomass_biome)
export(biomassa_amazonia)
export(biomass_amazon)
export(biomassa_cerrado)
export(biomass_cerrado)
export(biomassa_mata_atlantica)
export(biomass_atlantic_forest)
export(biomassa_caatinga)
export(biomass_caatinga)
export(biomassa_pantanal)
export(biomass_pantanal)
export(biomassa_pampa)
export(biomass_pampa)

export(carbono_bioma)
export(carbon_biome)
export(carbono_potencial)
export(carbon_potential)

export(clima_variavel)
export(climate_variable)
export(evento_climatico)
export(climate_event)

export(perturbacao_area)
export(disturbance_area)
export(reconciliar_fontes)
export(reconcile_sources)

export(listar_equacoes)
export(list_equations)

export(gedi_extrair)
export(gedi_extract)
export(densidade_shots)
export(shot_density)
export(saturacao_lidar)
export(lidar_saturation)
export(palsar_integrar)
export(palsar_integrate)

export(validar_bioma)
export(validate_biome)
export(validar_dap)
export(validate_dbh)
export(validar_altura)
export(validate_height)
export(validar_coordenadas)
export(validate_coordinates)
export(validar_tipologia)
export(validate_typology)

importFrom(ForestR, fator_correcao_altura_dominante)
importFrom(ForestR, biomassa_higuchi_corrigida)
